:root {
    --main: rgb(41, 134, 239);
    --accent: rgb(52, 115, 242);
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@keyframes fadeIn {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 100;
    }
}

html {
    font-family: "Inter", sans-serif;
    margin: 0;
    overflow-x: hidden;
}

body {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 100%;
    align-items: center;
    padding-left: 1vw;
    padding-right: 1vw;
}

#title {
    width: 10vw;
    margin-left: 4vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title h2 {
    font-weight: 500;
    font-size: 1.5vw;
}

#header-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5vw;
    width: 30%;
}

#header-center a {
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: 0.9vw;
    text-decoration: none;
    color: black;
}

#header-center a:hover {
    color: var(--accent);
}

#link-login {
    font-size: 0.9vw;
    margin-left: 35vw;
}

#button-signUp {
    background-color: var(--main);
    height: 50%;
    width: 7%;
    margin-left: 2%;
    border-radius: 0.4vw;
    border: none;
    color: white;
    font-size: 0.9vw;
    transition: 0.25s ease;
}

#button-signUp:hover {
    background-color: var(--accent);
    box-shadow: 0 0 4px var(--accent);
}

#cover {
    animation: fadeIn 1s ease;
    height: 93vh;
    width: 100%;
    display: flex;
    vertical-align: middle;
    user-select: none;
}

#cover-left {
    margin-top: 16vh;
    margin-left: 5vw;
    width: 40%;
    text-align: left;
    user-select: none;
    display: flex;
    flex-direction: column;
}

#cover-left h1 {
    font-size: 4.3vw;
    text-align: left;
    font-weight: 590;
    margin-bottom: auto;
}

#cover-left p {
    font-size: 1.4vw;
    font-weight: 300;
    color: gray;
    margin-right: 30vw;
    text-align: left;
    width: 100%;
    height: 100%;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#cover-left button {
    margin-bottom: 40vh;
    background-color: var(--main);
    color: white;
    border: none;
    font-family: "Inter", sans-serif;
    width: 20%;
    min-height: 7%;
    font-size: 0.9vw;
    border-radius: 1vh;
}

#cover-left button:hover {
    background-color: var(--accent);
    box-shadow: 0 0 4px var(--accent);
}

#cover img {
    width: 40%;
    margin-top: 2%;
    margin-left: 13%;
    transition: 0.5s ease;
}

#cover img:hover {
    width: 42%;
    margin-top: 1%;
    margin-left: 12%;
}

h1 {
    width: 100%;
    text-align: center;
}

h3 {
    font-size: 1.4vw;
    font-weight: 300;
    color: rgb(67, 67, 67);
    width: 100%;
    text-align: center;
    word-spacing: 10%;
}

button {
    font-family: "Inter", sans-serif;
}

button:hover {
    cursor: pointer;
}

#cards {
    margin-top: 9vh;
    height: 50vh;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.card {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-icon {
    width: 4vw;
    height: 4vw;
    background-color: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 0.7vw;
    position: absolute;
    margin-bottom: 10vh;
    z-index: 999;
}

.card-inner {
    height: 35vh;
    width: 25vw;
    background-color: rgba(0, 0, 0, 0.02);
    border-radius: 3vh;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    display: flex;
    margin-top: 3vh;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.card-inner h2 {
    font-weight: 500;
    font-size: 1.5vw;
    margin-top: 8vh;
    margin-bottom: auto;
}

.card-inner h3 {
    font-size: 1.2vw;
    color: gray;
    width: 80%;
    height: 28%;
    display: flex;
    align-items: first baseline;
    justify-content: center;
    margin-top: 2vh;
}

.card-inner a {
    text-decoration: none;
    color: var(--main);
    margin-bottom: 3vh;
    font-size: 1.1vw;
}

#cover2 {
    width: 100%;
    height: 100vh;
    margin-top: 7vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#cover2-left {
    width: 45vw;
    margin-left: 5vw;
}

#cover2-left h1 {
    text-align: left;
}

#cover2-left-caption {
    text-align: left;
    font-size: 1.3vw;
}

#cover2-left-points {
    padding-left: 2vw;
}

#cover2-left-points h3 {
    text-align: left;
    font-size: 1.2vw;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

#cover2-img {
    width: 45%;
    transition: 0.5s ease;
}

#cover2-img:hover {
    width: 46%;
}

#cover3 {
    display: flex;
    flex-direction: row;
}

#cover3-img {
    margin: 1% 1% 1% 1%;
    width: 45%;
    transition: 0.5s ease;
}

#cover3-img:hover {
    width: 46%;
    margin: 0.5% 0.5% 0.5% 0.5%;
}

#cover3-right {
    width: 45%;
    margin-left: 12.5vw;
    transition: 0.5s ease;
}

#cover3-right h1 {
    text-align: left;
}

#cover3-right-caption {
    text-align: left;
    font-size: 1.3vw;
}

#cover3-right-points {
    padding-left: 2vw;
}

#cover3-right-points h3 {
    text-align: left;
    font-size: 1.2vw;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

#end {
    height: 60vh;
    margin-top: 30vh;
    text-align: center;
}

#button-signUp2 {
    background-color: var(--main);
    height: 9%;
    width: 7%;
    border-radius: 0.4vw;
    border: none;
    color: white;
    font-size: 0.9vw;
    transition: 0.25s ease;
}

#button-signUp2:hover {
    background-color: var(--accent);
    box-shadow: 0 0 4px var(--accent);
}

.footer {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-main {
    width: 90vw;
    display: flex;
    flex-direction: row;
    height: 50vh;
}

.footer-left {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-top: 2vh;
}

.footer-left h3 {
    color: gray;
    font-size: 1vw;
    font-weight: 300;
    text-align: left;
    margin-top: 5vh;
}

.footer-column {
    width: 13vw;
    padding-left: 2vw;
    justify-content: left;
    display: flex;
    flex-direction: column;
}

.footer-column a {
    margin-top: 3vh;
    font-size: 1.1vw;
    color: gray;
}

.footer-column h3 {
    text-align: left;
    font-size: 1.1vw;
    color: rgb(23, 23, 23);
    font-weight: 500;
}

.footer-end {
    width: 90%;
    border-top: 1px solid rgb(216, 216, 216);
}

.footer-end h4 {
    color: gray;
    font-size: 1vw;
    font-weight: 200;
}